:root {
  --color-primary: #03A9F4;
  --color-primary-dark: #0288D1;
  --color-primary-light: #B3E5FC;
  --color-accent: #8BC34A;
  --color-error: #F44336;
  --color-text-primary: #212121;
  --color-text-secondary: #0288D1;
  --color-text-light: #FFFFFF;
}

// Typography
@mixin typography-button {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
}

// Elevation
@mixin dp2 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

