:root {
    --color-primary: #03A9F4;
    --color-primary-dark: #0288D1;
    --color-primary-light: #B3E5FC;
    --color-accent: #8BC34A;
    --color-error: #F44336;
    --color-text-primary: #212121;
    --color-text-secondary: #0288D1;
    --color-text-light: #FFFFFF;
}
